.main {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	padding: 6rem 0;
	min-height: 100vh;
	max-width: var(--max-width);
	margin: 0 auto;
}

.petTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	.petPhoto {
		--size: 10rem;
		width: var(--size);
		height: var(--size);
		border-radius: 50%;
		overflow: hidden;
		border: 0.5rem solid var(--color-primary);
	}

	.petBreed {
		opacity: 0.5;
	}
}

.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.imageNotFound {
	width: 90%;
	height: 100%;
}

.section {
	width: 95%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 2rem;
}

.parent {
	display: flex;
	gap: 1rem;
	width: 100%;

	.parentPhoto {
		--size: 3rem;
		width: var(--size);
		height: var(--size);
		border-radius: 50%;
		overflow: hidden;
	}

	.parentInfo {
		display: flex;
		flex-direction: column;
		gap: 0.3rem;
	}

	.parentInfo h3 {
		font-size: 1rem;
	}

	.parentInfo span {
		font-size: 0.8rem;
		opacity: 0.5;
	}

	.actions {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		margin-left: auto;
	}

	.actions a {
		display: flex;
		--size: 2.5rem;
		font-size: 1.5rem;
		align-items: center;
		justify-content: center;
		width: var(--size);
		height: var(--size);
		border-radius: 5px;
		background-color: var(--color-primary);
		color: var(--color-white);

		transition: all 0.2s ease;
	}

	.actions a:hover {
		opacity: 0.8;
	}
}

.table {
	width: 100%;
	display: flex;
	flex-direction: column;

	.row {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 0.5rem;
	}

	.row:nth-child(odd) {
		background-color: hsla(0, 0%, 100%, 0.02);
	}
}
