:root {
	--max-width: 1100px;
	--border-radius: 12px;

	--color-primary: #32b68a;
	--foreground-rgb: 25, 25, 25;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;

	--tile-start-rgb: 239, 245, 249;
	--tile-end-rgb: 228, 232, 233;
	--tile-border: conic-gradient(
		#00000080,
		#00000040,
		#00000030,
		#00000020,
		#00000010,
		#00000010,
		#00000080
	);
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 244, 244, 244;
		--background-start-rgb: 25, 25, 25;
		--background-end-rgb: 25, 25, 25;

		--tile-start-rgb: 2, 13, 46;
		--tile-end-rgb: 2, 5, 19;
		--tile-border: conic-gradient(
			#ffffff80,
			#ffffff40,
			#ffffff30,
			#ffffff20,
			#ffffff10,
			#ffffff10,
			#ffffff80
		);

		--scroll-bar-thumb: #ffffff80;
		--scroll-bar-track: #ffffff10;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
		rgb(var(--background-start-rgb));
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
