.main {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	padding: 6rem;
	min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
	.vercelLogo {
		filter: invert(1);
	}

	.logo {
		filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
	}
}
